<!-- <div class="container" >

  <aside class="navbar-header">
    <div class="cabecera-panel">
      <h4>Elementos</h4>
      <hr class="puntos">



      <hr>
    </div>
  </aside>
</div> -->



<section class="navigation">
  <div class="nav-container">
    <div class="brand">
    </div>
    <nav>
      <div class="nav-mobile"><a id="navbar-toggle" href="#!"><span></span></a></div>
      <ul class="nav-list">
        <li>
          <a routerLink="/Home"> Principal</a> &nbsp;
        </li>
        <li>
          <a routerLink="/Recruit"> Formulario</a> &nbsp;
        </li>
        <li>
        <a routerLink="/Ranking"> Rankings</a> &nbsp;
        </li>
         <li>
          <a routerLink="/Heroes"> Heroes</a> &nbsp;
        </li>
        <li>
        <Search-bar></Search-bar> &nbsp;
        </li>

      </ul>
    </nav>
  </div>
</section>
