
<stats-co></stats-co>

@if (historialbusc.items().length > 0) {
<div class="mosaico">

  <div class="mosaico">
@for (elemento of historialbusc.itemspagina(); track elemento.id) {

<card-hero
  [carta]="elemento"
  [favbool]="historialbusc.favaloc(elemento.id)"
  [teambool]="historialbusc.teamloc(elemento.id)"
  (favorito)="historialbusc.addfav($event )"
  (team)="historialbusc.addteam($event)"
  [local]="false"
  ></card-hero>
}
</div>

</div>
}@else {
  <h4>No hay ningun resultado asi</h4>
}

@if (historialbusc.totalpaginas() > 1) {
  <nav class="paginacion">
    <button
    type="button"
    (click)="historialbusc.antpag()"
    [disabled]="historialbusc.paginaac() === 1">Anterior</button>

    @for (paginaac of historialbusc.paginas(); track $index) {
      <button
      type="button"
      (click)="historialbusc.cambiopag(paginaac)"
      [class.active]="paginaac === historialbusc.paginaac()">{{ paginaac }}</button>
    }

    <button
    type="button"
    (click)="historialbusc.siguipag()"
    [disabled]="historialbusc.paginaac() === historialbusc.totalpaginas()">Siguiente</button>

  </nav>
}

<teamhero [favlist]="historialbusc.favlist()" [teamlist]="historialbusc.teamlist()" ></teamhero>

