<div class="recuadros">

  <div class="section">
    <h3>Heroes agregados</h3>

    <div class="mosaico-fav">

      @for (hero of listaHeroes; track hero._id) {
        <div class="card">

          <card-hero [carta]="hero" [boton]="false" [local]="true">
            <div class="contenido-tarjeta">
              <h4>{{ hero.name }}</h4>
            </div>
          </card-hero>

          <button class="eliminacion" (click)="borrar(hero._id)">
            Eliminar
          </button>

          <button (click)="changecard(hero)">
            Editar
          </button>

        </div>
      }

    </div>
  </div>

</div>

@if (changs) {
  <div class="modal-fondo">

    <div class="modal-card">

      <h3>Editar héroe</h3>

      <form [formGroup]="formulario" (ngSubmit)="update()">

        <div class="field">
          <label>Nombre:</label>
          <input type="text" formControlName="name">
        </div>

        <div class="botones-modal">
          <button type="submit" [disabled]="formulario.invalid">
            Guardar
          </button>

          <button type="button" (click)="changecard()">
            Cancelar
          </button>
        </div>

      </form>

    </div>

  </div>
}