<div class="recuadros">

  <div class="section">
  <h3>Favoritos</h3>
  <div class="mosaico-fav">

  @for (fav of favlist; track fav.id) {
    <div class="card">
       <card-hero
        [carta]="fav"
        (favorito)="fav"
        [tipo]="'2'"
        (team)="fav"
        [boton]="true"
        (favorito)="historialbusc.addfav($event)"
        ></card-hero>
      </div>
      }

    </div>
  </div>

<div class="section">
  <h3>Equipo</h3>
  <div class="cuadro">

  <div class="mosaico-fav">
    @for (team of teamlist; track team.id) {
      <div class="card">
       <card-hero
        [carta]="team"
        (favorito)="team"
        [tipo]="'3'"
        (team)="team"
        [boton]="true"
        (team)="historialbusc.addteam($event, true)"
        ></card-hero>
        </div>
      }
  </div>



    </div>
  </div>

</div>

