
.mosaico-fav{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, max-content));
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}
.recuadros{
  display:flex;
  justify-content: space-between;
}

.cuadro{
  display: flex;
}


