        <div class="conta">
            <div class="input-group-prepend">
                <span class="input-group-text border-0 text-muted h-100 d-flex align-items-center search-icon-wrapper">
                    <i class="fa fa-search"></i>
                </span>
            </div>

            <input #busqueda
            type="text"
            (keyup)="text_bus($event)"
            placeholder="Buscar heroe"
            (keyup.enter)="registrarbusq()">

            <select (change)="tad_edi($event)">
              <option value="Todos">Todos</option>
              <option value="Marvel Comics">Marvel</option>
              <option value="DC Comics">DC</option>
              <option value="Dark Horse Comics">Dark Horse</option>
              <option value="Wildstorm">Wildstorm</option>
            </select>

            <select (change)="tag_mor($event)">
              <option value="Todos">Todos</option>
              <option value="good">Buena</option>
              <option value="bad">Mala</option>
            </select>
        </div>
