<h2> Formulario reactivo</h2>

<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

  <div class="field">
    <label for="Nombre">Nombre:</label>
    <input type="text" id="Nombre" formControlName="Nombre"/>
    <div *ngIf="formulario.get('Nombre')?.invalid && formulario.get('Nombre')?.touched">

      <span *ngIf="formulario.get('Nombre')?.errors?.['required']">
          Nombre obligatorio
        </span>

        <span *ngIf="formulario.get('Nombre')?.errors?.['minlength']">
          Nombre corto
        </span>

      </div>
  </div>

  <div class="field">
    <label for="Alias">Alias:</label>
    <input type="text" id="Alias" formControlName="Alias"/>

    <div *ngIf="formulario.get('Alias')?.invalid && formulario.get('Alias')?.touched">
        <span *ngIf="formulario.get('Alias')?.errors?.['required']">
          Alias obligatorio
        </span>

        <span *ngIf="formulario.get('Alias')?.errors?.['minlength']">
          Alias muy corto
        </span>
    </div>
  </div>

  <div class="field">
    <label for="Correo">Correo:</label>
    <input type="email" id="Correo" formControlName="Correo"/>

    <div *ngIf="formulario.get('Correo')?.invalid && formulario.get('Correo')?.touched">
        <span *ngIf="formulario.get('Correo')?.errors?.['required']">
          Correo obligatorio
        </span>

        <span *ngIf="formulario.get('Correo')?.errors?.['Correo']">
          Correo corto
        </span>
    </div>
  </div>

  <div class="field">
    <label for="Poder">Poder:</label>
    <input type="number" id="Poder" formControlName="Poder"/>


    <div *ngIf="formulario.get('Poder')?.invalid && formulario.get('Poder')?.touched">
        <span *ngIf="formulario.get('Poder')?.errors?.['required']">
          Poder obligatorio
        </span>

        <span *ngIf="formulario.get('Poder')?.errors?.['min']">
          Poder minimo 1
        </span>
        <span *ngIf="formulario.get('Poder')?.errors?.['max']">
          Poder maximo 100
        </span>
    </div>
  </div>


  <button type="submit" ng>
        Enviar
  </button>

</form>
<!-- Recomendacion, imprimir todo el formulario, en controls, se mira el estatus, rejects, posiciones entre otros -->
 <!-- Internamente, componentes compartidos, en una carpeta shared, en la raiz, components en raiz, pero de uso
  cosas de uso mayor, aun falta ver si se usa dentro de raiz o otro lado -->
