/* You can add global styles to this file, and also import other style files */
/* .mosaico{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  padding: 20px;
} */


.DC{
color: rgb(77, 77, 246);

}

.Marvel{
color: rgb(243, 57, 57);

}

.Nicat{
color: rgb(144, 57, 243);

}

