<section class="stats">
  <div class="stat-card">
    <span><strong>Total héroes: </strong>{{ historial.totalheroes() }} &sbquo;</span>
    <span><strong>TResultados: </strong>{{ historial.totalresultados() }}  &sbquo;</span>
    <span><strong>TBúsquedas:</strong> {{ historial.totalbusc() }}  &sbquo;</span>
    <span><strong>TFavoritos:</strong> {{ historial.totalfav() }}  &sbquo;</span>
    <span><strong>TEquipo: </strong>{{ historial.totalteam() }}  &sbquo;</span>
    <span><strong>TMarvel:</strong> {{ historial.totalmarvel() }}  &sbquo;</span>
    <span><strong>TDC: </strong>{{ historial.totaldc() }}  &sbquo;</span>
    <span><strong>TBuenos:</strong> {{ historial.totalbuenos() }}  &sbquo;</span>
    <span><strong>TMalos:</strong> {{ historial.totalmalos() }}  &sbquo;</span>
  </div>
</section>


<section class="historial">
  <h3>Últimas búsquedas: </h3>
  @if (historial.busquedhis().length > 0) {
    @for (busqueda of historial.busquedhis(); track $index) {
      <p>- {{ busqueda }}</p>
    }
  } @else {
    <p>No hay búsquedas registradas.</p>
  }
</section>
