
<section class="p-2">

  <div class="d-flex flex-wrap gap-2">

    <div class="bg-light border rounded px-2 py-1 text-center">
      <small class="text-muted d-block">Total héroes</small>
      <strong class="text-dark">{{ historial.totalheroes() }}</strong>
    </div>

    <div class="bg-light border rounded px-2 py-1 text-center">
      <small class="text-muted d-block">Resultados</small>
      <strong class="text-dark">{{ historial.totalresultados() }}</strong>
    </div>

    <div class="bg-light border rounded px-2 py-1 text-center">
      <small class="text-muted d-block">Búsquedas</small>
      <strong class="text-dark">{{ historial.totalbusc() }}</strong>
    </div>

    <div class="bg-light border rounded px-2 py-1 text-center">
      <small class="text-muted d-block">Favoritos</small>
      <strong class="text-primary">{{ historial.totalfav() }}</strong>
    </div>

    <div class="bg-light border rounded px-2 py-1 text-center">
      <small class="text-muted d-block">Equipo</small>
      <strong class="text-success">{{ historial.totalteam() }}</strong>
    </div>

    <div class="bg-light border rounded px-2 py-1 text-center">
      <small class="text-muted d-block">Marvel</small>
      <strong class="text-dark">{{ historial.totalmarvel() }}</strong>
    </div>

    <div class="bg-light border rounded px-2 py-1 text-center">
      <small class="text-muted d-block">DC</small>
      <strong class="text-dark">{{ historial.totaldc() }}</strong>
    </div>

    <div class="bg-light border rounded px-2 py-1 text-center">
      <small class="text-muted d-block">Buenos</small>
      <strong class="text-dark">{{ historial.totalbuenos() }}</strong>
    </div>

    <div class="bg-light border rounded px-2 py-1 text-center">
      <small class="text-muted d-block">Malos</small>
      <strong class="text-dark">{{ historial.totalmalos() }}</strong>
    </div>

  </div>
</section>



<section class="historial">
  <h6>Últimas búsquedas: </h6>
  @if (historial.busquedhis().length > 0) {
    @for (busqueda of historial.busquedhis(); track $index) {
      <p>- {{ busqueda }}</p>
    }
  } @else {
    <p>No hay búsquedas registradas.</p>
  }
</section>
